<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="paul.sohier.snake2" android:versionCode="200"
	android:versionName="2.0.0" android:installLocation="preferExternal">
	<application android:label="Snake2" android:icon="@drawable/icon"  installLocation="preferExternal">
		<activity android:name="main" android:screenOrientation="portrait"
			android:configChanges="keyboardHidden|orientation">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="SettingsActivity"
			android:screenOrientation="portrait">
		</activity>
		/
		<activity android:name="AboutActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="HighActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="PlayActivity"
			android:screenOrientation="portrait">
		</activity>
		<activity android:name="HelpActivity"
			android:screenOrientation="portrait">
		</activity>		
		<activity android:name="ScoreActivity"
			android:screenOrientation="portrait">
		</activity>
		<meta-data android:value="a14c8e50ec5250b" android:name="ADMOB_PUBLISHER_ID" />

	</application>

	<uses-sdk>7</uses-sdk>
	<uses-sdk>8</uses-sdk>
	<uses-sdk android:minSdkVersion="7"></uses-sdk>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>


	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest> 
